.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    .welcome{
        margin-top: 10rem;
        margin-left: 10.8rem;
        height: 20rem;
        h1{
            font-size: 2.7rem;
            color: var(--gray-500);
            padding-bottom: 1rem;
            strong{
                margin-bottom: 1rem;
                font-size: 5rem;
            }
            span{
                color: var(--blue-500);
            }
        }
        h2{
            font-size: 2rem;
            color: var(--gray-500);
            span{
                color: var(--blue-500);
            }
        }
    }
    .aboutme{
        background-color: transparent;

    }
}