.container {
    height: 6rem;
    width: 100vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    flex-direction: row;

    .left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-right: 2rem;
        }
    }

    .navigation {
        nav{
            ul{
                display: flex;
                flex-direction: row;
                
                li{
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--gray-500);
                    list-style-type: none;
                    border-right: 2px solid var(--gray-500);
                    padding: 0 3rem;
                    
                    &:hover{
                        color: var(--gray-800);
                        cursor: pointer;
                        box-shadow: 0 0 2px var(--gray-300);
                    }
                }
            }
        }
    }
}
