.container {
    max-width: 1120px;
    margin: 2rem auto;

    .title {
        background-color: var(--gray-700);
        padding: 2rem;
        margin-bottom: 1rem;
        h2 {
            display: flex;
            align-items: center;
            font-weight: 100;
            font-size: 1.8rem;
            
            svg {
                margin-right: 1rem;
            }
        }
    }
    
    .formPost {
        background-color: var(--gray-700);
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        div {
            h3 {
                margin-bottom: 0.5rem;
                font-weight: 100;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
            
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            button {
                padding: 0.5rem;
                width: 12rem;
                display: flex;
                position: relative;
                align-items: center;
                font-weight: 900;
                background: transparent;
                border: 2px solid var(--blue-500);
                color: var(--blue-500);
                margin-bottom: 1rem;
            
                svg {
                    color: var(--blue-500);
                    font-weight: 900;
                    margin-right: 0.25rem;
                }      
                &:hover{
                    background: var(--blue-500);
                    color: var(--white);
                    svg{
                        color: var(--white);
                    }
                }
                &:active{
                    color: var(--gray-900);
                    svg{
                        color: var(--gray-900);
                        
                    }
                }
                
            }
        }
    }

    .preview{
        background-color: var(--gray-700);
        padding: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
